@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300&display=swap');

.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.5px;
}

button{
  letter-spacing: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}